 /********** v.7.3 **********/
/*to prevent zoom in safari and chrome, font-size has to be at least 16*/
/********** database page styles **********/


  /* TEXT AT THE BOTTOM OF THE PAGE, DESCRIBING NEW PLANT FUNCTIONALITY */
.addPlant {
  position: relative;
  bottom: 0;
  width: 100%;
}

#btnCustomCols {
  background: radial-gradient(#ffffcc 30%, rgba(255,255,255,0) 70%);
  display: none;
}

#btnClearAllFilters {
  height: 2px;
  width: 2px;
  margin: 0;
  display: none;
}

  /* SMALL INNER BUTTONS  */
.btnInner {
  top: -5px;
  position: absolute;
  width: 3em;
	height: 3em;
  border-style: unset;
  background: transparent;
  z-index: 7;
}
.btnImg { /* image within inner buttons */
  width: 2em;
  height: 2em;
}
.btnLeft {
  left: -5px;
}
.btnRight {
  right: -5px;
}

  /*  SMALL INNER BUTTONS FOR ADDING & MODIFYING PLANTS BY USER */
#btnNewPlantAdd, #btnNewPlantClear, #btnNewPlantCopy, #btnNewPlantSubmit {
  position: absolute;
  background: transparent;
  top: 100%;
  width: 3em;
  height: 2em;
  border-style: unset;
  display: none;
}
#btnNewPlantAdd {
  left: 25%;
}
#btnNewPlantClear {
  right: 0;
}
#btnNewPlantCopy {
  left: 0;
  display: initial;
}
/* user added plant - plant names drop down */
#btnNewPlantCopy ~ .dropUnqVals {
  top: 115%;
  left: 0;
}
#btnNewPlantSubmit {
  left: 50%;
}

.btnUpdatePlant { /*button for recording changes within notes, action, quantity*/
  top: 0;
  background: rgba(178, 246, 23, 0.5);
}

.colWidth1 {
  width: 8em;
}
.colWidth2 {
  width: 12em;
}

/* EXPORT/IMPORT WINDOW */
div.expImp > button {
  top: 1px;
  padding: 10px;
  z-index: 9;
  color: red;
}

div.expImp {
  display:inline-block;
  position:fixed;
  left: 2em;
  top: 2em;
  z-index: 8;
  padding: 0 35px;
  opacity: 0.9;
  border: 1px solid #001539;
  box-shadow: 3px 3px #00179d;
  background-color: rgb(255, 251, 244);
}

div.expImp > textarea {
  padding: 5px ;
  border: 1px solid #001539;
  background-color: rgb(255, 251, 244);
}

#dropColNames, #dropExportImport {
  position: absolute;
  float: right;
  top: 1em;
  left: 1em;
  display: none;
}

#dropColNames, .dropUnqVals, #dropExportImport {
  z-index: 7;
  max-height: 30em;
  overflow: auto;
/*   added on 9/24/20 for iPad scroll support */
  webkit-overflow-scrolling: auto;
  border-radius: 7px;
  list-style-type: none; 
  text-align: left;
  padding: 5px;
  line-height: 150%;
  color: navy;
  background-color: rgba(204, 255, 153, 0.95);
}

.dropUnqVals {
  position: absolute;
  top: 50%;
  width: 12em;
  overflow: auto;
}

/* COMMON NAME COLUMN, FREEZING STYLE, ENSURES THAT PLANT NAMES ARE ALWAYS SHOWN */
.frozenCol {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  color:#ffffcc;
  background-color: rgba(0, 39, 128, 0.85);
  z-index: 2;
}
.frozenCol input {
  width: 100%;
  min-height: 3em;
  font-style: italic;
}

/* FILTER ROW FREEZING STYLE, ENSURES THAT FILTER ROW IS FROZEN AND ALWAYS SHOWN ON TOP */
.frozenFilterRow {
  position: sticky;
  position: -webkit-sticky;
  top: 4.2em;
  background-color: rgba(0, 0, 128, 1);
  z-index: 2;
}
/* THE COMMON NAME (FIRST COLUMN) OF THE FILTER FREEZE IS DONE SEPARATELY */
.filterFreeze {
  position: sticky;
  position: -webkit-sticky;
  top: 4.2em;
  left: 0;
  text-align: left;
  background-color: rgba(0, 0, 128, 1); /*opaque navy*/
  z-index: 4;
}
.filterInput {
  padding: 0 0 0 1.5em;
  color: navy;
  width: 100%;
  height: 100%;
}
.frozenFilterRow tr:hover {
  background-color: rgba(0, 0, 128, 1);
}

i:hover {
  cursor: pointer;
}

/* IMAGES - SETTINGS FOR THE LAST COLUMN, ALL THE WAY TO THE RIGHT */
img {
  width: 4em;
  border: 0;
  margin: 0 20%;
}

.inputRangeMin, .inputRangeMax {
  max-width: 3em;
  max-height: 1.2em;
  margin-right: 5px;
  text-align: right;
  position: absolute;
  right: 0;
}

/* THE NEW PLANT ROW IS LOCATED AT THE BOTTOM OF THE TABLE */
#newPlantRow {
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  font-style: italic;
}

.pic:hover {
  cursor: pointer;
}

#picGal {
  top: 1.8em;
  right: 10%;
}

#picGal button {
  position: absolute;
  top: 50%;
  margin: 0 1em;
  height: 3em;
  width: 3em;
  background: transparent;
}

#picGal p {
  position: absolute;
  bottom: 0;
  color: white;
}

/* TABLE plants SETTINS */
#plants {
  table-layout: fixed;
  position: relative;
  top: 2.5em;
  width: 100%;
  height: 50%;
  border-collapse: collapse;
  z-index: 2;
  margin: 0 0 5em 0;
}

#plants td, #plants th {
  border: 1px solid #ddd;
  padding: 5px;
  white-space: normal;
}

/* TABLE HEADERS STYLE SETTINGS AND FREEZING */
#plants th {
  position: sticky;
  position: -webkit-sticky;
  top: 2.5em;
  padding: 4px 10px 4px 4px;
  text-align: left;
  color:#ffffcc;
  background-color: rgba(0, 0, 128, 1);
  z-index: 2;
}

#plants th > i {
  position: absolute;
  right: 1px;
  opacity: 0.7;
}

#plants tr:nth-child(even) {
  background-color: rgba(208, 218, 225, 0.5);
}

/* 
  Responsiveness for desktop and tablet, width greater than 768px
  600 for small devices; 400 for phones, with mobile first - the default
*/
@media only screen and (min-width: 768px) {
  #dropColNames, .dropUnqVals, #dropExportImport {
/*     font-size: 90%; */
  }
  img {
    width: 4em;
    max-height: auto;
  }
  .colWidth1 {
    width: 6em;
  }
  .colWidth2 {
    width: 12em;
  }
}
