/********** v.7 **********/

.archive {
  display: none;
}
button {
  margin: 0 45%;
}
img {
  width: 50%;
  height: auto;
  padding: 0 0 0 5px;
  float: right;
}
.lefty {
  padding: 0 5px 0 0;
  float: left;
}
@media only screen and (min-width: 600px) {
  img {
    width: 30%;
  }
  .wrapper {
    margin: 10px 20px;
  }
}
.wrapper {
  display: grid;
  position: absolute;
  top: 35px;
  line-height: 1.5em;
  grid-gap: 5px;
  margin: 5px;
}
.wrapper > div {
  text-align: left;
  padding: 5px 0;
}
