/********** v.7.1 **********/

.archive {
  display: none;
}

button {
  margin: 0 45%;
}

img {
  height: 6em;
  width: auto;
  padding: 0 0 0 5px;
  float: right;
  transition: all .5s ease-in-out;
}

img.diag {
  transform: rotate(-35deg);
}

.lefty {
  padding: 0 5px 0 0;
  float: left;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    margin: 10px 20px;
  }
  
  img:hover, img.diag:hover {
    transform: scale(5) translate(-40%);
  }

  img.lefty:hover, img.diag.lefty:hover  {
    transform: scale(5) translate(40%);
  }
}

@media (prefers-reduced-motion) {
  img:hover, img.diag:hover {
    transform: scale(1);
  }
}

.wrapper {
  display: grid;
  position: absolute;
  top: 35px;
  line-height: 1.5em;
  grid-gap: 5px;
  margin: 5px;
}

.wrapper > div {
  text-align: left;
  padding: 5px 0;
}
